<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <table class='tabla'>
       <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
       </tr>

       <% for (var i = 0; i < difItems.length; i++) { %>
        <tr>
          <td><%= difItems[i]._source.id %></td>
          <td><%= difItems[i]._source.name %></td>
          <td><canvas id="myChart<%= difItems[i]._source.id %>" width="100" height="20"></canvas></td>
        </tr>    
       <% } %>
    </table>
    <script type="text/javascript">
      Array.prototype.clean = function(deleteValue) {
      for (var i = 0; i < this.length; i++) {
        if (this[i] == deleteValue) {         
          this.splice(i, 1);
          i--;
        }
      }
      return this;
    };
      <% for (var i = 0; i < difItems.length; i++) { %>
        refresh('myChart<%= difItems[i]._source.id %>', [<%=difItems[i]._source.price2018 %>]);
      <% } %>
      function refresh(id, data) {
        data.clean(undefined);
        var ctx = document.getElementById(id);
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              datasets: [{
                  label: 'precios',
                  data: data,
                  borderWidth: 1
              }]
          }
        });
      }
    </script>
  </body>
</html>